
.benefit__list {
	display: inline-block;

	.benefit__item {
		$gutter-width: 30px;
		display: inline-block;
		float: left;
		margin-right: $gutter-width;
		margin-bottom: 90px;
		width: calc(33% - #{$gutter-width * 2 / 3});

		@media (max-width: 767px) {
		width: calc(50% - #{$gutter-width * 1 / 4});
		margin-right: #{$gutter-width / 2};

		&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (min-width: 768px) {
			&:nth-child(3n) {
				margin-right: 0;
			}
		}

		@media (max-width: 479px) {
		width: 100%;
		margin-right: 0;
		margin-bottom: $gutter-width;
		}


		.benefit__icon,
		.benefit__content {
			float: left;
		}

		.benefit__icon {
			margin-right: 24px;
			background-color: $white;
			background-repeat: no-repeat;
			background-size: contain;
			width: 50px;
			height: 46px;
		}

		.benefit__content {
			width: calc(100% - 24px - 50px);
		}

		.benefit__title {
			margin-bottom: 5px;
			line-height: 23px;
			font-size: 20px;
		}

		.benefit__desc {
			line-height: 1.5;
			font-size: 14px;
		}
	}
}

.benefit__icon {
	&.icon--heart {background-image: url('../../assets/heart.png');}
	&.icon--lock {background-image: url('../../assets/lock.png');}
	&.icon--star {background-image: url('../../assets/star.png');}
	&.icon--bell {background-image: url('../../assets/bell.png');}
	&.icon--video {background-image: url('../../assets/video.png');}
	&.icon--location {background-image: url('../../assets/location.png');}
}
