.form {
	padding-bottom: 40px;

	.form__inputtext {
		width: 100%;
		font-size: 14px;
		line-height: 16px;
		padding: 20px 18px;
		margin-bottom: 30px;
		border-radius: 4px;
		box-shadow: none;
		border: 0;
	}

	.form__submit {
		display: block;
		margin: 0 auto;
		padding: 16px 52px;
		border: solid 1px $white;
		border-radius: 4px;
		background-color: transparent;
		color: $white;
		font-size: 18px;
		line-height: 21px;
		text-transform: uppercase;

		&:hover {
			cursor: pointer;
		}
	}

	.form__message {
		padding: 15px;
		border: solid 1px;
		border-color: transparent;
		border-radius: 4px;
		margin-bottom: 25px;
		font-size: 18px;
		line-height: 20px;
		visibility: hidden;
		display: none;

		&.form--success {
			border-color: tint(green, 15%);
			display: block;
			visibility: visible;
			background-color: tint(green, 45%);
		}

		&.form--error {
			border-color: black;
			display: block;
			visibility: visible;
			background-color: tint(black, 35%);
		}
	}
}