.howworks__slider {
	position: relative;

	.howworks__slidecontainer {
		position: relative;
		margin: 0 auto;
		width: 100%;
		overflow: hidden;

		@media (max-width: 959px) {
			width: calc(100% - #{26px * 2});
		}
	}

	.howworks__slides {
		// display: inline-block;
		position: relative;
		margin: 0;
		padding: 0;
	}

	.howworks__slide {
		$gutter-size: 20px;

		position: relative;
		display: block;
		float: left;
		width: #{(960px / 3) - ($gutter-size * 2 / 3)};
		margin-right: $gutter-size;
		margin-bottom: 40px;

		&:nth-child(3n) {
		}
	}

	.howworks__card {
		background-color: $white;
		color: $font-color;
		padding-bottom: 40px;
		border-radius: 4px;
		box-shadow: 0 2px 4px 0 rgba(#000, 0.5);

		.thumbnail {
			height: 193px;
			display: block;
			margin: 0 auto;
		}

		.title {
			margin: 0 15px 22px;
			text-align: center;
			line-height: 31px;
			font-size: 27px;
		}

		.description {
			margin: 0 auto;
			width: 100%;
			max-width: 220px;
			text-align: center;
			line-height: 1.5;
			font-size: 14px;
		}
	}

	.howworks__slidernav {
		position: absolute;
		top: calc(50% - 18px);
		width: 100%;

		.howworks_angle {
			width: 26px;
			height: 36px;
			line-height: 0;
			color: transparent;
			font-size: 0;
			background-color: transparent;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: absolute;

			&:hover {
				cursor: pointer;
			}

			&.howworks--prev {
				background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1203%20544q0%2013-10%2023l-393%20393%20393%20393q10%2010%2010%2023t-10%2023l-50%2050q-10%2010-23%2010t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10%2023-10t23%2010l50%2050q10%2010%2010%2023z%22%20%20style%3D%22fill%3A%23ffffff%22%2F%3E%3C%2Fsvg%3E');
				left: -26px - 20px;

				@media (max-width: 959px) {
					left: -26px + 20px;
				}
			}

			&.howworks--next {
				background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1171%20960q0%2013-10%2023l-466%20466q-10%2010-23%2010t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10%2023-10t23%2010l466%20466q10%2010%2010%2023z%22%20style%3D%22fill%3A%23ffffff%22%2F%3E%3C%2Fsvg%3E');
				right: -26px - 20px;

				@media (max-width: 959px) {
					right: -26px + 20px;
				}
			}
		}
	}

	.howworks__dots {
		display: flex;
		@include align-items(center);
		@include justify-content(center);
		@include flex-wrap(nowrap);

		width: 100%;

		.howworks__dot {
		}

		.dot {
			@include transition(0.2s background-color ease-in-out);
			display: block;
			border-radius: 50%;
			line-height: 0;
			color: transparent;
			font-size: 0;
			width: 10px;
			height: 10px;
			border: solid 1px $white;
			background-color: $white;
			margin: 0 5px;

			&.dot--active {
				background-color: transparent;
			}
		}
	}
}
