.navbar {
	$logo-text-color: $white;

	position: absolute;
	top: 0;
	margin-top: $nav-mar-top;
	margin-bottom: $nav-mar-btm;
	width: 100%;
	height: $nav-height;
	z-index: 2;

	.navbar__content {
		@include outer-container($container-width);
		display: flex;
		@include align-items(middle);
		@include justify-content(space-between);
		@include flex-wrap(wrap);
	}

	.navbar__logo {
		color: $logo-text-color;
		font-size: 32px;

		@media (max-width: 767px) {
			position: absolute;
		}
	}

	.navbar__menu {
		@media (max-width: 767px) {
			width: 100%;
			overflow: hidden;
			margin-right: -12px;
			margin-left: -12px;
			width: calc(100% + #{12px * 2});
		}

		.menu {
			@include transition(0.6s all ease-in-out);
			margin-right: 78px;

			@media (max-width: 767px) {
				@include transform(translateX(1000px));	
				background-color: transparent;
				opacity: 0;
				
				margin-right: 0;
				margin-top: 15px;
				padding: 20px 12px;
				width: 100%;

				&.menu--active {
					@include transform(translateX(0));
					opacity: 1;
					background-color: rgba($white, 0.9);

					.menu__link {
						a {
							color: $red;

							&:hover {
							border-color: $red;
							}
						}

						&.link--active a {
							border-color: $red;
						}
					}
				}
			}
		}

		.menu__link {
			@media (max-width: 767px) {
				text-align: right;
				margin-right: 0;
			}			
		}

		.social {
			@media (max-width: 767px) {
				position: absolute;
				top: #{(36px - 20px) / 2};
				right: #{75px + 20px};
			}
		}
	}

	.navbar__mob_btn {
		$menu-text-color: $white;
		$menu-border-color: $white;

		float: right;
		border: solid 1px $menu-border-color;
		border-radius: 2px;
		padding: 8px;
		text-decoration: none;
		line-height: 1;
		color: $menu-text-color;
		font-size: 18px;
		background-color: transparent;
		margin-right: 12px; // offset side padding

		@media (min-width: 768px) {
			display: none;
			visibility: hidden;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.menu,
	.social {
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (max-width: 767px) {
			float: right;
		}

		.menu__link {
			float: left;
		}
	}
}

.menu {
	$menu-text-color: $white;
	$menu-border-color: $white;

	.menu__link {
		margin-right: 16px;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width: 767px) {
			width: 100%;
			display: block;
			padding: 15px 0;
		}

		a {
			border: solid 1px transparent;
			border-radius: 2px;
			padding: 8px;
			text-decoration: none;
			line-height: 1;
			color: $menu-text-color;
			font-size: 18px;

			&:hover {
				border-color: $menu-border-color;
				cursor: pointer;
			}
		}

		&.link--active a {
			border-color: $menu-border-color;
		}
	}
}

.social {
	.social__link {
		float: left;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		a {
			display: block;
			border-radius: 50%;
			background-color: $white;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 20px;
			height: 20px;
			overflow: hidden;
			line-height: 0;
			color: transparent;
			font-size: 0;

			&:hover {
				opacity: 0.9;
			}
		}

		.social--facebook {
			background-image: url('../../assets/facebook.png');
		}

		.social--twitter {
			background-image: url('../../assets/twitter.png');

		}
	}

}
