.section {
	&.section--white {
		background: $white;
		color: $font-color;
	}

	&.section--red {
		background: $red;
		color: $white;
	}

	.section__content {
		@include outer-container($container-width);
		padding-top: 45px;
	}

	.section__title {
		margin: 0;
		text-align: center;
		text-transform: capitalize;
		line-height: 54px;
		font-size: 46px;
	}

	.section__subtitle {
		// nothing declared yet (no reusable components)
	}
}
