.testimonial__slider {
	margin-top: 88px;
	position: relative;

	.testimonial__slidecontainer {
		position: relative;
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
	}

	.testimonial_slides {
		@include transition(0.4s all ease-in-out);
		position: relative;
		margin: 0;
		padding: 0;
	}

	.testimonial__slide {
		position: relative;
		display: block;
		float: left;
		width: 100%;
		max-width: 960px;
		margin-bottom: 30px;

		@media (max-width: 959px) {
			width: calc(100% - #{12px * 2});
			max-width: none;
		}
	}

	.testimonial__title {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 700px;
		text-align: center;
		line-height: 30px;
		font-size: 22px;

		@media (max-width: 959px) {
			max-width: none;
		}

		&:before {
			content: '“';
		}

		&:after {
			content: '”';
		}
	}

	.testimonial__hr {
		$line-color: #9cafc3;

		opacity: 0.15;
		margin-top: 5px;
		margin-bottom: 28px;
		border-color: $line-color;
		background-color: $line-color;
		width: 100px;
	}

	.testimonial__meta {
		text-align: center;
	}

	.testimonial__author,
	.testimonial__role {
		display: block;
	}

	.testimonial__author {
		opacity: 0.45;
		line-height: 22px;
		font-family: $font-heading;
		font-size: 19px;
		font-weight: bold;
	}

	.testimonial__role {
		opacity: 0.35;
		line-height: 22px;
		color: #000;
		font-size: 19px;
	}

	.testimonial__dots {
		display: flex;
		@include align-items(middle);
		@include justify-content(space-between);

		margin: 0 auto;
		width: 100%;
		max-width: 410px;

		@media (max-width: 959px) {
			@include justify-content(center);
			max-width: none;
			padding: 0 10px;
		}

		.testimonial__dot {
			$face-width: 82px;
			@include transition(0.4s opacity ease-in-out);
			border-radius: 50%;
			width: $face-width;
			height: $face-width;
			overflow: hidden;
			opacity: 0.7;

			@media (max-width: 959px) {
				width: $face-width * 0.8;
				height: $face-width * 0.8;
				margin: 0 12px;
			}

			&.dot--active {
				opacity: 1;
			}
		}
	}
}
