* {
	box-sizing: border-box;
}

html,
body,
div,
section,
span,
p,
a,
ol,
ul,
li,
label,
table,
th,
td {
	font-family: $font-body;
}

html,
body {
	@include font-feature-settings('kern', 'liga');

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
	font-weight: bold;
}

a {
	@include transition(0.25s all ease-in-out);
}

img {
	max-width: 100%;
}

input[type="button"],
button {
    background: #555;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@include selection {
	background-color: tint($red, 75%);
}

#app {
	position: relative;
}
