$red: #e91d29;
$white: #fff;

$nav-mar-top: 42px;
$nav-mar-btm: 63px;
$nav-height: 36px;

$container-width: 960px;

$font-body: Arial-MT, Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-heading: Arial-BoldMT, Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-color: #2f3841;
