.section.section--hero {
	$hero-bg-color: $red;
	$bg-lg: '../../assets/beach-lg.png';
	$bg-md: '../../assets/beach-md.png';
	$bg-sm: '../../assets/beach-sm.png';

	@include background-image(linear-gradient(0deg, rgba($hero-bg-color, 0.81) 0%, rgba($hero-bg-color, 0.81) 100%), url($bg-lg));

	position: relative;
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	padding-top: #{$nav-mar-top + $nav-mar-btm + $nav-height};
	z-index: 1;

	@media (max-width: 959px) {
		@include background-image(linear-gradient(0deg, rgba($hero-bg-color, 0.81) 0%, rgba($hero-bg-color, 0.81) 100%), url($bg-md));
	}

	@media (max-width: 479px) {
		@include background-image(linear-gradient(0deg, rgba($hero-bg-color, 0.81) 0%, rgba($hero-bg-color, 0.81) 100%), url($bg-sm));
	}


	.section__content {
		display: flex;
		@include align-items(middle);
		@include justify-content(space-between);
		@include flex-wrap(wrap);

		@media (max-width: 959px) {
			@include flex-direction(column-reverse);
		}

		&:after {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			border-bottom: solid 77px $white;
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23ffffff%3B' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 100%;
			height: 100px;
			content: '';

		@media (max-width: 959px) {
			border-bottom: solid 120px $white;
		}
		}
	}

	.hero__devicemock {
		z-index: 2;
		width: 100%;

		@media (max-width: 959px) {
			display: flex;
			@include justify-content(center);
			@include align-items(center);

			img {
				max-width: 300px;
			}
		}

		@media (min-width: 960px) {
			width: 323px;
		}
	}

	.hero__content {
		z-index: 3;
		width: 100%;

		@media (max-width: 959px) {
			margin-top: 0;
			margin-bottom: 60px;
		}

		@media (min-width: 960px) {
			margin-top: 108px;
			width: calc(100% - 84px - 323px); // space between (84px), devicemock width (323px)
		}
	}

	.hero__title {
		margin-top: 0;
		margin-bottom: 30px;
		line-height: 62px;
		color: $white;
		font-size: 54px;

		@media (max-width: 959px) {
			text-align: center;
		}
	}

	.hero__cta {
		@media (max-width: 959px) {
			display: flex;
			@include justify-content(center);
			@include align-items(center);
			padding: 0 12px;
		}
	}

	.hero__subtitle {
		margin-bottom: 62px;
		max-width: 337px;
		line-height: 21px;
		color: $white;
		font-size: 18px;

		@media (max-width: 959px) {
			text-align: center;
			width: 100%;
			padding: 0 12px;
			max-width: none;
		}
	}

	.hero__applink {
		float: left;
		margin-right: 33px;

		&:last-child {
			margin-right: 0;
		}

		a {
			$app-width: 172px;
			$app-height: 50px;
			display: block;
			border-radius: 5px;
			background-color: $white;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: $app-width;
			height: $app-height;
			line-height: 0;
			color: transparent;
			font-size: 0;

			@media (max-width: 959px) {
			width: $app-width * 0.85;
			height: $app-height * 0.85;
			}

			&:hover {
				opacity: 0.9;
			}
		}

		&.hero--app-google a {background-image: url('../../assets/googleplay.png');}
		&.hero--app-apple a {background-image: url('../../assets/appstore.png');}
	}
}
